*{
    /* background-color: rgba(233, 112, 187, 0.575); */
    margin: 0;
    padding: 0;
}

#Login{
    height: 100vh;
    /* background: rgb(228, 134, 228); */
    background-image: linear-gradient(rgba(0,0,0,0.5),#e92868),url(../Media/banner.jpg);
    background-position: center;
    background-size: cover;
}

.login-heading{
    display: flex;
    padding-top: 5%;
    margin-left: 16%;
    font-size: 35px;
}

.logo{
    width: 10%;
    height: 10%;
    /* margin-left: 2%; */
}

.Login-flex{
    display: flex;
    /* justify-content: center; */
}

.from-box{
    width: 40%;
    height: 60%;
    /* background: cadetblue; */
    margin-left: 2%;
    /* border: 5px solid; */
    /* padding-bottom: 5%; */
}

.main-heading{
    padding-top: 2%;
    padding-left: 35%;
    font-size: 30px;
    font-weight: bold;
}

.Center-con{
    padding-top: 3%;
    padding-left: 25%;
    font-size: 25px;
}

.input{
    font-size: 15px;
    padding: 1%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    
}

.input-a{
    margin-left: 30%;
    font-size: 18px;
    padding-bottom: 20%;
    text-decoration: none;
}

.btn{
    display: block;
    width: 30%;
    font-size: 20px;
    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(226, 68, 121);
    border-radius: 5px;
    color: #000000;
    padding: 5px;
}